<div style="padding: 1rem 2rem">
  <p class="lead">Post form :</p>
  <div class="container-fluid">
      <div>
        <div class="form-group">
          <label for="quoter" class="sr-only">Quote</label>
          <input type="test" class="form-control" id="quoter" placeholder="description" [(ngModel)]="quote">
        </div>
      </div>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="picture" class="sr-only">Picture</label>
          <input #fileInput type="file" class="form-control-file" (change)="onFileChange($event)" id="picture" accept="image/jpeg">
        </div>
      </form>
      <form>
        <div class="form-group">
          <p style="color: red" *ngIf="errorMessage!=null">{{errorMessage}}</p>
          <p style="color: red" *ngIf="sizeMessage!=null">{{sizeMessage}}</p>
        </div>
      </form>
      <form>
        <div class="form-group">
          <button type="submit" style="width: 150px" class="btn btn-primary"
                  [disabled]="errorMessage!=null || sizeMessage!=null || uploadedImage==null"
                  (click)="sendPost()">post</button>
        </div>
      </form>
  </div>
</div>

<div class="modal" id="myModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Si c'est la première requete : App engine est peut être mis en veille par Google ! Il est en cours de démarrage ...
          votre requête est en cours d'execution, veuillez patienter ...</h5>
      </div>
    </div>
  </div>
</div>
