
<h2>Register</h2>
<form>
  <div class="container">
    <p>Spaces will be ignored and removed from the value before requesting the server !</p>
    <label> <b>Email</b></label>
    <input type="text" placeholder="Enter email" (ngModelChange)="onEmailChanged($event)" [(ngModel)]="email" name="email" value="email" required>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" (ngModelChange)="onUsernameChanged($event)" [(ngModel)]="username" name="uname" required>

    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" (ngModelChange)="onPasswordChanged($event)" [(ngModel)]="password" name="psw" required>

    <button type="button" (click)="onUserRegisterButtonClicked()">Register</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">

    <span class="login">You already have an account? <a href="" (click)="goToLogin()">Login</a></span>
  </div>
</form>


<div class="modal" id="myModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          App engine peut être mis en veille par Google !
          Grâce à cette nouvelle requête, il va être en cours de démarrage ...
          Ce process peut prendre jusqu' à une minute.
          votre requête est en cours d'execution, veuillez patienter ...</h5>
      </div>
    </div>
  </div>
</div>
