
<h2>Register</h2>
<div>
  <div class="container">
    <label> <b>Email</b></label>
    <input type="text" placeholder="Enter email" (ngModelChange)="onEmailChanged($event)" [(ngModel)]="email" name="email" required>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" (ngModelChange)="onUsernameChanged($event)" [(ngModel)]="username" name="uname" required>

    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" (ngModelChange)="onPasswordChanged($event)" [(ngModel)]="password" name="psw" required>

    <button type="button" [disabled]="!buttonActif" (click)="onUserRegisterButtonClicked()">Register</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">

    <span class="login">You already have an account? <a href="/login">Login</a></span>
  </div>
</div>
