body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}
.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: white;
}

.example button {
  width: 20%;
  padding: 10px;
  background: #bf00ff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.example button:hover {
  background: grey;
}
.follow_unfollow {
  z-index: 9;
  margin-top: 20px;
  margin-left: 30px;
}
.follow_div {
  width: 900px;
  height: 70px;
  background: lightgray;
  top: 1px;
  position: relative;
  margin: 0 auto;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 1em;
  z-index: 6;
  border: 4px solid #bf00ff;
  border-radius: 5px;
  color: black;
  text-shadow: none;
  text-align: center;
}
.username {
  display: inline-block;
  font-size: 1.1em;
  color: black;
  font-weight: bold;
  text-shadow: 0px 0px white;
  float: left;
}

.follow_button {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 6px;
  width: 130px;
  height: 30px;
  float: right;
  margin-top: 14px;
}

.unfollow_button {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 6px;
  width: 130px;
  height: 30px;
  float: right;
  margin-top: 14px;
}

.nb_followers {
  display: inline-block;
  font-weight: bold;
  float: none;
}

.appfeed {
  margin-top: 50px;
}

.usernotfound {
  margin-top: 20px;
  margin-left: 525px;
}
