<div>
  <div class="form-inline" style="display:block;margin:auto;max-width:450px">
    <input type="text" placeholder="Search username.." class="form-control" name="search2" [(ngModel)]="username" >
    <button type="submit" (click)="findUserAndNbOfFollowers()" style="width: 120px" class="btn btn-info"><i class="fa fa-search"></i>Search</button>
  </div>
  <div class="form-inline" style="padding-top:20px; margin:auto;max-width: 450px" *ngIf="userExists">
    <input type="text" disabled class="form-control" value="{{output.username}} has {{output.countOfFollowers}} followers.">
    <button type="submit" class="btn btn-primary" style="width: 120px" (click)="follow()" *ngIf="!iFollowHim">Follow</button>
    <button type="submit" class="btn btn-danger" style="width: 120px" (click)="unfollow()" *ngIf="iFollowHim">Unfollow</button>
  </div>
</div>


<br><br><br>

<div class="modal" id="myModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">We are executing your request, please wait ...</h5>
      </div>
    </div>
  </div>
</div>
