<div>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <div class="example" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search username.." name="search2" [(ngModel)]="username" >
    <button type="submit" (click)="findUserAndNbOfFollowers()"><i class="fa fa-search"></i></button>
  </div>
  <app-disconnect></app-disconnect>
  <p *ngIf="!userExists && output.errorMessage!=null"  class="usernotfound">{{output.errorMessage}}</p>
  <div class="follow_unfollow" *ngIf="userExists">
    <div class="follow_div">
      <p class="username">{{output.username}}</p>
      <p class="nb_followers">{{output.countOfFollowers}}</p>
      <button class="follow_button" (click)="follow()" *ngIf="!iFollowHim">FOLLOW</button>
      <button class="unfollow_button" (click)="unfollow()" *ngIf="iFollowHim">UNFOLLOW</button>
    </div>
  </div>
</div>
<br><br><br>

<div class="modal" id="myModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">We are executing your request, please wait ...</h5>
      </div>
    </div>
  </div>
</div>
