<div class="post" id="{{input.id}}">
  <div class="row">
    <div class="col-sm-6">
      <div style="width:100%;height:200px;">
        <span>
          <img src="{{input.image}}" (click)="onImgClicked()" alt="Paris" style="object-fit: cover" id="myImg">
          <!-- The Modal -->
          <div id="myModal{{input.id}}" class="modal">

            <!-- The Close Button -->
            <span class="close" (click)="onCloseModalClicked()">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01" src="{{input.image}}">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
          </div>
        </span>
      </div>
    </div>
    <div class="col-sm-6">
        <h2>owner : {{input.username}}</h2>
        <p class="nb_likes">likes count : {{nbrOfLikes}}</p>
        <p>{{input.quote}}</p>

        <button style="width: 100px" [ngClass]="{ 'btn-danger' : liked,  'btn':true, 'btn-primary': !liked }" class="btn-primary" (click)="likePost()">{{postAction}}</button>
    </div>
  </div>
</div>

<div class="modal" id="myModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Si c'est la première requete : App engine est peut être mis en veille par Google ! Il est en cours de démarrage ...
          votre requête est en cours d'execution, veuillez patienter ...</h5>
      </div>
    </div>
  </div>
</div>
